@font-face {
  font-family: 'icomoon';
  src:  url('fonts/icomoon.eot?ttm4rg');
  src:  url('fonts/icomoon.eot?ttm4rg#iefix') format('embedded-opentype'),
    url('fonts/icomoon.ttf?ttm4rg') format('truetype'),
    url('fonts/icomoon.woff?ttm4rg') format('woff'),
    url('fonts/icomoon.svg?ttm4rg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-remind:before {
  content: "\e976";
}
.icon-sign_time:before {
  content: "\e975";
}
.icon-money_delivery:before {
  content: "\e973";
}
.icon-money_planned_purchasing:before {
  content: "\e974";
}
.icon-accounts_payable:before {
  content: "\ea4c";
}
.icon-receivables:before {
  content: "\ea4d";
}
.icon-QR_code:before {
  content: "\ea4b";
}
.icon-sure:before {
  content: "\e900";
}
.icon-add_after_sale:before {
  content: "\e901";
}
.icon-add:before {
  content: "\e902";
}
.icon-after_sale_management:before {
  content: "\e903";
}
.icon-after_sale:before {
  content: "\e904";
}
.icon-after_sales_analysis:before {
  content: "\e905";
}
.icon-archives_design:before {
  content: "\e906";
}
.icon-archives_materiel:before {
  content: "\e907";
}
.icon-archives_public:before {
  content: "\e908";
}
.icon-archives_style:before {
  content: "\e909";
}
.icon-arrival_statistics:before {
  content: "\e90a";
}
.icon-arrow_left:before {
  content: "\e90b";
}
.icon-arrow_pulldown:before {
  content: "\e90c";
}
.icon-arrow_right:before {
  content: "\e90d";
}
.icon-arrow_unfold:before {
  content: "\e90e";
}
.icon-arrow_up:before {
  content: "\e90f";
}
.icon-audit_back:before {
  content: "\e910";
}
.icon-audit:before {
  content: "\e911";
}
.icon-authorized_store:before {
  content: "\e912";
}
.icon-barcode:before {
  content: "\e913";
}
.icon-basic_archives:before {
  content: "\e914";
}
.icon-batch_add:before {
  content: "\e915";
}
.icon-batch_generate:before {
  content: "\e916";
}
.icon-batch_revise:before {
  content: "\e917";
}
.icon-bill_coding_rule:before {
  content: "\e918";
}
.icon-binding_order:before {
  content: "\e919";
}
.icon-black:before {
  content: "\e91a";
}
.icon-bom_management:before {
  content: "\e91b";
}
.icon-brand_management:before {
  content: "\e91c";
}
.icon-broken_chain:before {
  content: "\e91d";
}
.icon-cancel:before {
  content: "\e91e";
}
.icon-category:before {
  content: "\e91f";
}
.icon-close_over:before {
  content: "\e920";
}
.icon-close:before {
  content: "\e921";
}
.icon-closeout:before {
  content: "\e922";
}
.icon-commodity_binding:before {
  content: "\e923";
}
.icon-confirm_return:before {
  content: "\e924";
}
.icon-copy:before {
  content: "\e925";
}
.icon-customer:before {
  content: "\e926";
}
.icon-d_deliver:before {
  content: "\e927";
}
.icon-d_examine:before {
  content: "\e928";
}
.icon-d_finance:before {
  content: "\e929";
}
.icon-d_inspect:before {
  content: "\e92a";
}
.icon-d_print:before {
  content: "\e92b";
}
.icon-data_browse:before {
  content: "\e92c";
}
.icon-data_dictionary:before {
  content: "\e92d";
}
.icon-data_setup:before {
  content: "\e92e";
}
.icon-data:before {
  content: "\e92f";
}
.icon-delete_cancel:before {
  content: "\e930";
}
.icon-delete:before {
  content: "\e931";
}
.icon-deliver_goods:before {
  content: "\e932";
}
.icon-document_configuration:before {
  content: "\e933";
}
.icon-download:before {
  content: "\e934";
}
.icon-edit_cancel:before {
  content: "\e935";
}
.icon-edit:before {
  content: "\e936";
}
.icon-effective_store:before {
  content: "\e937";
}
.icon-electronic_sheet:before {
  content: "\e938";
}
.icon-embroidery_factory:before {
  content: "\e939";
}
.icon-empty_barcode:before {
  content: "\e93a";
}
.icon-examine_goods:before {
  content: "\e93b";
}
.icon-exception_order:before {
  content: "\e93c";
}
.icon-export:before {
  content: "\e93d";
}
.icon-express_delivery:before {
  content: "\e93e";
}
.icon-express:before {
  content: "\e93f";
}
.icon-fail:before {
  content: "\e940";
}
.icon-favicon:before {
  content: "\e941";
}
.icon-field_browse:before {
  content: "\e942";
}
.icon-field_setup:before {
  content: "\e943";
}
.icon-field:before {
  content: "\e944";
}
.icon-file_annex:before {
  content: "\e945";
}
.icon-finance_audit_back:before {
  content: "\e946";
}
.icon-finance_audit:before {
  content: "\e947";
}
.icon-flag:before {
  content: "\e948";
}
.icon-function_browse:before {
  content: "\e949";
}
.icon-function_setup:before {
  content: "\e94a";
}
.icon-function:before {
  content: "\e94b";
}
.icon-garment_factory:before {
  content: "\e94c";
}
.icon-get_order:before {
  content: "\e94d";
}
.icon-gift:before {
  content: "\e94e";
}
.icon-gold_price:before {
  content: "\e94f";
}
.icon-goods_add:before {
  content: "\e950";
}
.icon-goods_distribution:before {
  content: "\e951";
}
.icon-goods_exchange:before {
  content: "\e952";
}
.icon-goods_receipt:before {
  content: "\e953";
}
.icon-goods:before {
  content: "\e954";
}
.icon-grant:before {
  content: "\e955";
}
.icon-group:before {
  content: "\e956";
}
.icon-homepage:before {
  content: "\e957";
}
.icon-import:before {
  content: "\e958";
}
.icon-industry_settings:before {
  content: "\e959";
}
.icon-intelligence_analysis:before {
  content: "\e95a";
}
.icon-intelligent_purchasing:before {
  content: "\e95b";
}
.icon-inventory_allocation:before {
  content: "\e95c";
}
.icon-inventory_log:before {
  content: "\e95d";
}
.icon-inventory_query:before {
  content: "\e95e";
}
.icon-inventory_tb:before {
  content: "\e95f";
}
.icon-inventory:before {
  content: "\e960";
}
.icon-invoice:before {
  content: "\e961";
}
.icon-knitting_mill:before {
  content: "\e962";
}
.icon-label:before {
  content: "\e963";
}
.icon-label01:before {
  content: "\e964";
}
.icon-left_right:before {
  content: "\e965";
}
.icon-library_adjustment:before {
  content: "\e966";
}
.icon-library_information:before {
  content: "\e967";
}
.icon-list_display:before {
  content: "\e968";
}
.icon-log_exception:before {
  content: "\e969";
}
.icon-logo:before {
  content: "\e96a";
}
.icon-main_stone:before {
  content: "\e96b";
}
.icon-matching:before {
  content: "\e96c";
}
.icon-material:before {
  content: "\e96d";
}
.icon-materiel_stock_order_in:before {
  content: "\e96e";
}
.icon-materiel_stock_order_out:before {
  content: "\e96f";
}
.icon-member_information:before {
  content: "\e970";
}
.icon-merge:before {
  content: "\e971";
}
.icon-metering_unit:before {
  content: "\e972";
}
.icon-money_settlement:before {
  content: "\e985";
}
.icon-money_storage .path1:before {
  content: "\e986";
  color: rgb(0, 0, 0);
}
.icon-money_storage .path2:before {
  content: "\e987";
  margin-left: -1em;
  color: rgb(39, 38, 54);
}
.icon-money_storage .path3:before {
  content: "\e988";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-money_storage .path4:before {
  content: "\e989";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-money:before {
  content: "\e98a";
}
.icon-multiple_package:before {
  content: "\e98b";
}
.icon-new:before {
  content: "\e98c";
}
.icon-non_delivery_statistics:before {
  content: "\e98d";
}
.icon-note_no-_content:before {
  content: "\e98e";
}
.icon-note_the-content:before {
  content: "\e98f";
}
.icon-number_confirm .path1:before {
  content: "\e990";
  color: rgb(5, 0, 0);
}
.icon-number_confirm .path2:before {
  content: "\e991";
  margin-left: -1em;
  color: rgb(44, 44, 44);
}
.icon-number_delivery:before {
  content: "\e992";
}
.icon-number_planned_purchasing .path1:before {
  content: "\e993";
  color: rgb(5, 0, 0);
}
.icon-number_planned_purchasing .path2:before {
  content: "\e994";
  margin-left: -1em;
  color: rgb(5, 0, 0);
}
.icon-number_planned_purchasing .path3:before {
  content: "\e995";
  margin-left: -1em;
  color: rgb(5, 0, 0);
}
.icon-number_planned_purchasing .path4:before {
  content: "\e996";
  margin-left: -1em;
  color: rgb(5, 0, 0);
}
.icon-number_planned_purchasing .path5:before {
  content: "\e997";
  margin-left: -1em;
  color: rgb(5, 0, 0);
}
.icon-number_planned_purchasing .path6:before {
  content: "\e998";
  margin-left: -1em;
  color: rgb(5, 0, 0);
}
.icon-number_planned_purchasing .path7:before {
  content: "\e999";
  margin-left: -1em;
  color: rgb(0, 0, 0);
}
.icon-number_purchase_order:before {
  content: "\e99a";
}
.icon-number_stock:before {
  content: "\e99b";
}
.icon-number_storage:before {
  content: "\e99c";
}
.icon-number_supplier:before {
  content: "\e99d";
}
.icon-off:before {
  content: "\e99e";
}
.icon-on:before {
  content: "\e99f";
}
.icon-open_package:before {
  content: "\e9a0";
}
.icon-order_asc:before {
  content: "\e9a1";
}
.icon-order_desc:before {
  content: "\e9a2";
}
.icon-order_distribution:before {
  content: "\e9a3";
}
.icon-order_query:before {
  content: "\e9a4";
}
.icon-order:before {
  content: "\e9a5";
}
.icon-organization:before {
  content: "\e9a6";
}
.icon-origin_correspondence:before {
  content: "\e9a7";
}
.icon-out_of_stock:before {
  content: "\e9a8";
}
.icon-outbound_order:before {
  content: "\e9a9";
}
.icon-page_setup:before {
  content: "\e9aa";
}
.icon-parameter_setting:before {
  content: "\e9ab";
}
.icon-parts:before {
  content: "\e9ac";
}
.icon-pass:before {
  content: "\e9ad";
}
.icon-password:before {
  content: "\e9ae";
}
.icon-payment_order:before {
  content: "\e9af";
}
.icon-pda_management:before {
  content: "\e9b0";
}
.icon-phone:before {
  content: "\e9b1";
}
.icon-picking_cart:before {
  content: "\e9b2";
}
.icon-picking_wall:before {
  content: "\e9b3";
}
.icon-place:before {
  content: "\e9b4";
}
.icon-plant_resources:before {
  content: "\e9b5";
}
.icon-position_adjustment:before {
  content: "\e9b6";
}
.icon-preservation:before {
  content: "\e9b7";
}
.icon-preview:before {
  content: "\e9b8";
}
.icon-print_distribution:before {
  content: "\e9b9";
}
.icon-print:before {
  content: "\e9ba";
}
.icon-process_management:before {
  content: "\e9bb";
}
.icon-production_management:before {
  content: "\e9bc";
}
.icon-production:before {
  content: "\e9bd";
}
.icon-promotion_management:before {
  content: "\e9be";
}
.icon-promotion_scheme:before {
  content: "\e9bf";
}
.icon-purchase_list:before {
  content: "\e9c0";
}
.icon-purchase_order:before {
  content: "\e9c1";
}
.icon-purchase_Storage_list:before {
  content: "\e9c2";
}
.icon-purchasing_management:before {
  content: "\e9c3";
}
.icon-push:before {
  content: "\e9c4";
}
.icon-query-execution:before {
  content: "\e9c5";
}
.icon-question:before {
  content: "\e9c6";
}
.icon-receipt:before {
  content: "\e9c7";
}
.icon-receive_publicatio:before {
  content: "\e9c8";
}
.icon-receive:before {
  content: "\e9c9";
}
.icon-receiving_statistics:before {
  content: "\e9ca";
}
.icon-reduce:before {
  content: "\e9cb";
}
.icon-refuse:before {
  content: "\e9cc";
}
.icon-register_purchaser:before {
  content: "\e9cd";
}
.icon-register_supplier:before {
  content: "\e9ce";
}
.icon-repair:before {
  content: "\e9cf";
}
.icon-replace:before {
  content: "\e9d0";
}
.icon-repor_form:before {
  content: "\e9d1";
}
.icon-reproduce:before {
  content: "\e9d2";
}
.icon-retreat:before {
  content: "\e9d3";
}
.icon-return_goods:before {
  content: "\e9d4";
}
.icon-return_modification:before {
  content: "\e9d5";
}
.icon-return:before {
  content: "\e9d6";
}
.icon-role:before {
  content: "\e9d7";
}
.icon-root:before {
  content: "\e9d8";
}
.icon-rule_set:before {
  content: "\e9d9";
}
.icon-sales_forecast:before {
  content: "\e9da";
}
.icon-sales_order:before {
  content: "\e9db";
}
.icon-sales_report:before {
  content: "\e9dc";
}
.icon-sample_room:before {
  content: "\e9dd";
}
.icon-save_drafts:before {
  content: "\e9de";
}
.icon-search_cancel:before {
  content: "\e9df";
}
.icon-search:before {
  content: "\e9e0";
}
.icon-setup:before {
  content: "\e9e1";
}
.icon-share_stock:before {
  content: "\e9e2";
}
.icon-shops:before {
  content: "\e9e3";
}
.icon-shortage:before {
  content: "\e9e4";
}
.icon-sign_abnormal:before {
  content: "\e9e5";
}
.icon-sign_after_sale:before {
  content: "\e9e6";
}
.icon-sign_audit:before {
  content: "\e9e7";
}
.icon-sign_back:before {
  content: "\e9e8";
}
.icon-sign_blacklist:before {
  content: "\e9e9";
}
.icon-sign_close:before {
  content: "\e9ea";
}
.icon-sign_exceed:before {
  content: "\e9eb";
}
.icon-sign_express:before {
  content: "\e9ec";
}
.icon-sign_fei:before {
  content: "\e9ed";
}
.icon-sign_fu:before {
  content: "\e9ee";
}
.icon-sign_kuai:before {
  content: "\e9ef";
}
.icon-sign_lack:before {
  content: "\e9f0";
}
.icon-sign_merge:before {
  content: "\e9f1";
}
.icon-sign_overweight:before {
  content: "\e9f2";
}
.icon-sign_pre_sale:before {
  content: "\e9f3";
}
.icon-sign_problem:before {
  content: "\e9f4";
}
.icon-sign_read:before {
  content: "\e9f5";
}
.icon-sign_return:before {
  content: "\e9f6";
}
.icon-sign_split:before {
  content: "\e9f7";
}
.icon-sign_stop:before {
  content: "\e9f8";
}
.icon-sign_suspend:before {
  content: "\e9f9";
}
.icon-sign_test:before {
  content: "\e9fa";
}
.icon-sign_ticket:before {
  content: "\e9fb";
}
.icon-sign_tui:before {
  content: "\e9fc";
}
.icon-sign_urgent:before {
  content: "\e9fd";
}
.icon-sign_wai:before {
  content: "\e9fe";
}
.icon-sign_xiang:before {
  content: "\e9ff";
}
.icon-sku_relation:before {
  content: "\ea00";
}
.icon-sms_advance:before {
  content: "\ea01";
}
.icon-sms_again_urge:before {
  content: "\ea02";
}
.icon-sms_arrival:before {
  content: "\ea03";
}
.icon-sms_arrive:before {
  content: "\ea04";
}
.icon-sms_configuration:before {
  content: "\ea05";
}
.icon-sms_delay:before {
  content: "\ea06";
}
.icon-sms_deliver_goods:before {
  content: "\ea07";
}
.icon-sms_delivery:before {
  content: "\ea08";
}
.icon-sms_details:before {
  content: "\ea09";
}
.icon-sms_dpj:before {
  content: "\ea0a";
}
.icon-sms_dsh:before {
  content: "\ea0b";
}
.icon-sms_hhtx:before {
  content: "\ea0c";
}
.icon-sms_hpgx:before {
  content: "\ea0d";
}
.icon-sms_jjtktx:before {
  content: "\ea0e";
}
.icon-sms_juhuasuan:before {
  content: "\ea0f";
}
.icon-sms_loss:before {
  content: "\ea10";
}
.icon-sms_payment:before {
  content: "\ea11";
}
.icon-sms_platform:before {
  content: "\ea12";
}
.icon-sms_sign:before {
  content: "\ea13";
}
.icon-sms_sqtk:before {
  content: "\ea14";
}
.icon-sms_statistics:before {
  content: "\ea15";
}
.icon-sms_strategy:before {
  content: "\ea16";
}
.icon-sms_template:before {
  content: "\ea17";
}
.icon-sms_tkcg:before {
  content: "\ea18";
}
.icon-sms_tytk:before {
  content: "\ea19";
}
.icon-sms_urge:before {
  content: "\ea1a";
}
.icon-split:before {
  content: "\ea1b";
}
.icon-storage_list:before {
  content: "\ea1c";
}
.icon-style:before {
  content: "\ea1d";
}
.icon-submit_back:before {
  content: "\ea1e";
}
.icon-submit:before {
  content: "\ea1f";
}
.icon-success:before {
  content: "\ea20";
}
.icon-summary:before {
  content: "\ea21";
}
.icon-supplier_purchase:before {
  content: "\ea22";
}
.icon-supplier_statistics:before {
  content: "\ea23";
}
.icon-supplier:before {
  content: "\ea24";
}
.icon-supply_information:before {
  content: "\ea25";
}
.icon-suspend_relieve:before {
  content: "\ea26";
}
.icon-suspend:before {
  content: "\ea27";
}
.icon-system_log:before {
  content: "\ea28";
}
.icon-system_settings:before {
  content: "\ea29";
}
.icon-take_goods:before {
  content: "\ea2a";
}
.icon-tenant_statistics:before {
  content: "\ea2b";
}
.icon-territorial:before {
  content: "\ea2c";
}
.icon-test:before {
  content: "\ea2d";
}
.icon-third_platform:before {
  content: "\ea2e";
}
.icon-turn_order:before {
  content: "\ea2f";
}
.icon-unique_code:before {
  content: "\ea30";
}
.icon-unpacking_statistics:before {
  content: "\ea31";
}
.icon-up_down:before {
  content: "\ea32";
}
.icon-user_settings:before {
  content: "\ea33";
}
.icon-user:before {
  content: "\ea34";
}
.icon-voice:before {
  content: "\ea35";
}
.icon-void:before {
  content: "\ea36";
}
.icon-warehouse_information:before {
  content: "\ea37";
}
.icon-warehouse_into:before {
  content: "\ea38";
}
.icon-warehouse_inventory:before {
  content: "\ea39";
}
.icon-warehouse_lanban:before {
  content: "\ea3a";
}
.icon-warehouse_out:before {
  content: "\ea3b";
}
.icon-warehouse:before {
  content: "\ea3c";
}
.icon-washing_mark:before {
  content: "\ea3d";
}
.icon-water_washing_plant:before {
  content: "\ea3e";
}
.icon-wave_sorting:before {
  content: "\ea3f";
}
.icon-wave_strategy:before {
  content: "\ea40";
}
.icon-wave:before {
  content: "\ea41";
}
.icon-weigh:before {
  content: "\ea42";
}
.icon-wlcgdd:before {
  content: "\ea43";
}
.icon-wulshd:before {
  content: "\ea44";
}
.icon-wwdingdan:before {
  content: "\ea45";
}
.icon-zc_dserp:before {
  content: "\ea46";
}
.icon-zc_gc:before {
  content: "\ea47";
}
.icon-zc_pfs:before {
  content: "\ea48";
}
.icon-zc_plm:before {
  content: "\ea49";
}
.icon-zc_scm:before {
  content: "\ea4a";
}
